<div class="container-fluid">
  <div class="text-center bg-danger rounded mt-4 p-2">
    <h5 class="text-light m-0 mx-auto">Map of Students on Placement</h5>
  </div>
  <div class="row mt-4">
    <agm-map [zoom]="2" *ngIf="placements?.length">
      <agm-marker 
        *ngFor="let placement of placements; let i = index"
        [latitude]="placement.latitude"
        [longitude]="placement.longitude"
      >
        <agm-info-window>
          <strong>{{ placement?.student?.fullName }}</strong>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
</div>