<div class="px-4">
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Student Name</label>
        <input class="form-control" value="John Doe" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Student Email</label>
        <input class="form-control" value="john@gmail.com" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Course</label>
        <input class="form-control" value="Computer Science" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Current Level</label>
        <input class="form-control" value="300 Level" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Phone Number</label>
        <input class="form-control" value="+54683883232" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Registered On</label>
        <input class="form-control" value="12th November, 2022" disabled>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <ng-content></ng-content>
  </div>
</div>