<div class="px-4">
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Student Name</label>
        <input class="form-control" value="John Doe" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Student Email</label>
        <input class="form-control" value="john@gmail.com" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Course</label>
        <input class="form-control" value="Computer Science" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Current Level</label>
        <input class="form-control" value="300 Level" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Company Name</label>
        <input class="form-control" value="BetterECO GmbH" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Company Sector</label>
        <input class="form-control" value="Agriculture" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Location</label>
        <input class="form-control" value="Berlin, Germany" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Duration</label>
        <input class="form-control" value="3 Months" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Start Date</label>
        <input class="form-control" value="9th March, 2021" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">End Date</label>
        <input class="form-control" value="11th March, 2022" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12">
      <div class="form-group my-2">
        <label class="form-label">Scheduled Visit</label>
        <div class="row">
          <div class="col-6">
            <input class="form-control" value="12th January, 2022" disabled>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-outline-secondary">
              Mark as Done
            </button>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-outline-danger">
              <i class="fas fa-pen me-1"></i>
              Update
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-6">
            <p-calendar
              [showTime]="true"
              [monthNavigator]="true"
              [yearNavigator]="true"
              dateFormat="dd/mm/yy"
              yearRange="1900:2021"
              styleClass="custom-form-control"
              showIcon="true"
              [readonlyInput]="true"
              appendTo="body"
            >
            </p-calendar>
          </div>
          <div class="col-3">
            <select class="form-select">
              <option value="student" selected>Virtual</option>
              <option value="tutor">Physical</option>
            </select>
          </div>
          <div class="col-3">
            <button type="button" class="btn btn-outline-success">
              <i class="fas fa-plus me-1"></i>
              Submit
            </button>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-12">
            <button type="button" class="btn btn-outline-danger">
              <i class="fas fa-plus me-1"></i>
              Schedule Visit
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3">
    <div class="row mb-3">
      <div class="text-center bg-secondary rounded me-2 p-2 mb-0">
        <h5 class="text-light m-0 mx-auto">
          View Student's Monthly Reports
        </h5>
      </div>
    </div>
    <div class="row align-items-center mb-2">
      <div class="col-12 col-md-3">
        <div class="form-group">
          <label for="">Month</label>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="form-group">
          <label for="">Monthly Report</label>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <label for="">Rating</label>
        </div>
      </div>
    </div>
    <div class="row align-items-center mb-3">
      <div class="col-12 col-md-3">
        <div class="form-group">
          <input class="form-control" value="February" disabled>
        </div>
      </div>
      <div class="col-12 col-md-5">
        <div class="form-group">
          <button type="button" class="d-block btn btn-outline-success w-100">
            <i class="fas fa-arrow-down me-1"></i>
            Download Report
          </button>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="form-group">
          <p-rating
          [iconOffStyle]="{ color: 'black' }"
          [iconOnStyle]="{ color: 'gold' }"
          iconOffClass="pi pi-star"
          iconOnClass="fas fa-star"
          [ngModel]="3" [cancel]="false" disabled="true"></p-rating>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <ng-content></ng-content>
  </div>
</div>