<div class="px-4">
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Company Name</label>
        <input class="form-control" value="BetterECO GmbH" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Company Sector</label>
        <input class="form-control" value="Agriculture" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Location</label>
        <input class="form-control" value="Berlin, Germany" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Duration</label>
        <input class="form-control" value="3 Months" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Potential Start Date</label>
        <input class="form-control" value="9th March, 2021" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Potential End Date</label>
        <input class="form-control" value="11th March, 2022" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Student Name</label>
        <input class="form-control" value="John Doe" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Student Email</label>
        <input class="form-control" value="johndoe@yahoo.com" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Current Level</label>
        <input class="form-control" value="300 Level" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Course</label>
        <input class="form-control" value="Computer Science" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Authorization Request Form</label>
        <button type="button" class="d-block btn btn-outline-success">
          <i class="fas fa-arrow-down me-2"></i>
          Download Request Form
        </button>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Assign Tutor (before approving)</label>
        <select class="form-select">
          <option value="student" selected>Johnny Man</option>
          <option value="tutor">Johnny Boy</option>
        </select>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-12">
      <div class="form-group my-2">
        <label class="form-label">Add Comments</label>
        <textarea class="form-control">3 Months</textarea>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12">
      <div class="form-group text-center">
        <button type="button" class="btn btn-success me-3">
          <i class="fas fa-check me-2"></i>
          Approve
        </button>
        <button type="button" class="btn btn-danger">
          <i class="fas fa-times me-2"></i>
          Reject
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <ng-content></ng-content>
  </div>
</div>