<div class="px-4">
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Tutor Name</label>
        <input
          class="form-control"
          value="{{ tutor?.fullName }}"
          disabled
        >
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Tutor Email</label>
        <input
          class="form-control"
          value="{{ tutor?.email }}"
          disabled
        >
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Position</label>
        <input
          class="form-control"
          value="{{ tutor?.position }}"
          disabled
        >
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Number of Placements Assigned To</label>
        <input
          class="form-control"
          value="{{ tutor?.placements?.length || 0 }}"
          disabled
        >
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Phone Number</label>
        <input
          class="form-control"
          value="{{ tutor?.phoneNumber }}"
          disabled
        >
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Registered On</label>
        <input
          class="form-control"
          value="{{ tutor?.createdAt | date:'longDate' }}"
          disabled
        >
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <ng-content></ng-content>
  </div>
</div>