$theme-colors: (
  "danger": #E4042C,
  "grey": #3C3C3C,
);
@import "~bootstrap/scss/bootstrap";

// :root {
//   --blue: #007bff;
//   --indigo: #6610f2;
//   --purple: #6f42c1;
//   --pink: #e83e8c;
//   --red: #dc3545;
//   --orange: #f18918;
//   --yellow: #ffc107;
//   --light-green: #74B734;
//   /* --green: #28a745; */
//   --green: #19705D;
//   --teal: #20c997;
//   --cyan: #17a2b8;
//   --white: #fff;
//   // --gray: #6c757d;
//   --gray: #706F6F;
//   --gray-dark: #343a40;
//   --primary: #007bff;
//   --secondary: #6c757d;
//   /* --success: #28a745; */
//   --success: #19705D;
//   --info: #17a2b8;
//   --warning: #ffc107;
//   --danger: #dc3545;
//   --light: #f8f9fa;
//   --dark: #343a40;
//   --bronze: #804a00;
//   --silver: rgb(173, 166, 166);
//   --gold: gold;
//   --breakpoint-xs: 0;
//   --breakpoint-sm: 576px;
//   --breakpoint-md: 768px;
//   --breakpoint-lg: 992px;
//   --breakpoint-xl: 1200px;
//   --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
//   --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// }

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: 'Lato';
  src: url("assets/Lato-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: normal;
}

/* Bold */
@font-face {
  font-family: 'Lato';
  src: url("assets/Lato-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Lato";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body .p-component {
  font-family: "Lato";
}