@import "~bootstrap/scss/bootstrap";

$theme-colors: (
  "danger": #E4042C,
  "grey": #3C3C3C,
  "light": #f8f9fa,
);

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@font-face {
  font-family: 'Lato';
  src: url("assets/Lato-Regular.woff2") format('woff2');
  font-style: normal;
  font-weight: normal;
}

/* Bold */
@font-face {
  font-family: 'Lato';
  src: url("assets/Lato-Bold.woff2") format('woff2');
  font-style: normal;
  font-weight: 700;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Lato";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

body .p-component {
  font-family: "Lato";
}

.active {
  color: red !important;
}

a, a:hover {
  text-decoration: none;
  color: inherit;
}

.custom-form-control {
  width: 100% !important;
  padding: 0rem !important;
  padding-left: 5px;
}

:host ::ng-deep p-calendar span .p-button-icon-only {
  background: #E4042C !important;
  border: 1px solid #E4042C !important;
}