<div class="px-4">
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Full Name</label>
        <input class="form-control" value="John Doe" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Email</label>
        <input class="form-control" value="john@yahoo.com" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Current Level</label>
        <input class="form-control" value="300 Level" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Course</label>
        <input class="form-control" value="Advanced Computer Science" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Position</label>
        <input class="form-control" value="Professor of Computer Science" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Department</label>
        <input class="form-control" value="Computer Science" disabled>
      </div>
    </div>
  </div>
  <div class="row my-2">
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Registered On</label>
        <input class="form-control" value="12th September 2022" disabled>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group my-2">
        <label class="form-label">Identification Proof</label>
        <button type="button" class="d-block btn btn-outline-success">
          <i class="fas fa-arrow-down me-2"></i>
          Download ID
        </button>
      </div>
    </div>
  </div>
  <div class="row my-5">
    <div class="col-12">
      <div class="form-group text-center">
        <button type="button" class="btn btn-success me-3">
          <i class="fas fa-check me-2"></i>
          Approve
        </button>
        <button type="button" class="btn btn-danger">
          <i class="fas fa-times me-2"></i>
          Reject
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <ng-content></ng-content>
  </div>
</div>